.form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

input[type="text"],
input[type="search"] {
  outline: none;
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 1px solid lightgray;
  padding: 0px 10px;
  font-size: 18px;
  margin: 10px 0;
}

input[type="search"] {
  font-size: 14px;
  padding: 5px 0;
}

.btn-group {
  display: flex;
  width: 100%;
}

.btn-container {
  width: 25%;
}

.btn {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  color: white;
  margin: 10px 0;
}

.btn-add {
  background-color: rgb(62, 165, 62);
}

.btn-remove {
  background-color: rgb(203, 58, 55);
}
